// colors
$c-primary-dark: color("teal", "darken-2") !default;
$c-primary: color("teal", "base") !default;
$c-primary-light: color("teal", "lighten-2") !default;
$c-text: #FFFFFF;
$c-accent: #9E9E9E;
$c-primary-text: #212121;
$c-secondary-text: #727272;
$c-divider: #B6B6B6;
$c-clock-face: #EFEFEF;
